# Dependencies
node_modules/
bun.lock
bun.lockb
package-lock.json

# Turborepo
.turbo/

# Build Outputs
dist/
build/
**/*.tsbuildinfo
*.tsbuildinfo

# Local Runtime Data
data/
**/data/
**/tmp_*

# OS / Editor
.DS_Store
Thumbs.db
*.log
.env
.env.local

spec/
